extends layout

block content
  .container
      .jumbotron
          .container
               h3  How May I Help ?
               p   lorem ipsum is a dummy text
               a.btn.btn-primary.btn-lg(href="/contact")  Learn More

  .container
      .row
          .col-md-4
                h6  How May I Help ?
                span   lorem ipsum is a dummy text
          .col-md-4
                h6  How May I Help ?
                span   lorem ipsum is a dummy text
          .col-md-4
                h6  How May I Help ?
                span   lorem ipsum is a dummy text